<style>

<link rel="stylesheet" href="{{ url_for('static',filename='css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</style>
<div class='container-fluid' style="padding-top: 180px;width: auto;">

<footer  style="background-color:#791ad8; color:white; width: auto; " class="footer">
    <div class="content has-text-centered">
      <a style="font-size:260%; color: white;" href="https://twitter.com/quem_pode/"  class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-twitter"></span> Siga-nos no Twitter
  </a>
      <p>
        <strong style="color:floralwhite">#eutbposso - Manifesto.</strong> <i style="color:chartreuse">by  Ideia Philosopy Group. </i>The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
      </p>
    </div>
   
	    <div  class="subheader-content has-text-centered">
	      <div class="nav-center">
		<a href="https://www.facebook.com/" class="nav-item">
		  <span class="icon">
		    <i class="fa fa-facebook"></i>
		  </span>
		</a>
		<a href="https://twitter.com/quem_pode/" class="nav-item">
		  <span class="icon">
		    <i class="fa fa-twitter"></i>
		  </span>
		</a>
		<a href="https://www.instagram.com/?hl=pt-br" class="nav-item">
		  <span class="icon">
		    <i class="fa fa-instagram"></i>
		  </span>
		</a>
		
	      </div>
	      <hr/>
	    </div>
   </footer>
  
                
                   
<div id="rodape" style="background-color:white" class="container fluid">
  <div class="jumbotrom">
     
  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/quem_pode?ref_src=twsrc%5Etfw">Tweets by quem_pode</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  
  </div>
</div>
   </div>