<section  class="hero">
  <footer style="background-color: #791ad8;" class="footer">
    


    <div   class="container">
      <div style="color: aliceblue" class="content has-text-centered">
       
        <p> Manifesto #eutbposso 
          <span class="icon is-small"> 
            <i class="fa fa-copyright"></i>
            </span>
          
               <span>
                 <a><i class="fa fa-twitter">Afinal,quem pode?</i></a>
          </span>2021</a>
      
     </p>
           
       
          <a class="icon has-text-primary" href="" target="_blank">
            <i class="fa fa-envelope"> eutbposso@gmail.com</i></p>
            </a>
       
      </div>
    </div>
  </footer>
</section>