<!-- Hero del producto -->
 

      
        <div style="padding:10%" class="columns  is-vcentered reverse-columns">
          
          <div  class="column">
            <h3 class="title ">
              Junte-se aos que enxergam a vida com bons olhos, alie-se aos que lhe amam de verdade e que curtem suas conquistas…
            </h3>
            <h5 class=" subtitled subtitle has-text-grey is-4 has-text-weight-normal is-family-sans-serif">
              Acreditamos que a mudança é possível, se voce quer um mundo melhor, precisa aprender a estudar a si mesmo, que é a arte mais difícil.
            </h5>
            <div class="buttons">
              <button style="background-color: #7823d8; color: white"  class="button"><a style="color: white" href="{{url_for('main.downloadFile')}}" >Baixe nosso Manifesto!</a></button>
              <button style="background-color: #ffd300; color: #791ad8"  class="button"><a style=" color: #791ad8;" href="{{url_for('auth.register')}}">Cadastre-se!</a></button>
            </div>
          </div>
          
          <div id="imag" data-aos="fade-right" class="column">
            <style>     
              
             #imag {
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}
         </style>
          <figure style="" class="image is-square">
              
              
              <img src="{{ url_for('static', filename='images/g895.png') }}">
              
              
            </figure>
          </div>

        </div>
      
     

        
        