
<div style="padding: 5px;"  class=" has-text-centered is-fluid">
        <div style="padding: 50px;"  class="junbotron">
          
              <h2 style="color: #791ad8;" class="title is-4">Quer saber mais sobre nossas ideias ?</h1>
              <p>Assine nosso canal de notícias e vamos contruir um mundo melhor!</p>
              <p>Deixe aqui seu email</p>
                <div class="column is-6 is-offset-3">
                  <div class="field has-addons has-addons-centered">
                    <div class="control is-expanded">
                      <input class="input " type="text" placeholder="Seu e-mail aqui...">
                    </div>
                    <div  class="control">
                      <a style="background-color: #791ad8;color:white" class="button is-info">
                     Ok
                      </a>
                    </div>
                  </div>
                  
          </div>
              
          </div>
                  
     
</div>